body {
    font-family: 'Abel', sans-serif;
    background: #f0f0f0;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.brand-name {font-size: 1.75em;}

nav a {
    font-size: .75em;
    color: black;
}

.nav-background {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 59px;
    width: 100%;
    top: 37px;
    z-index: -1000;
}

nav .nav-item {
    position: relative;
    bottom: 6px;
}

@media screen and (min-width: 992px) {
    .sub-title {text-align: left;}
    hr {width: 100%;}

    .brand-name  {
        position: relative;
        top: 5px;
    }
}

.btn-primary {
    width: 150px;
    height: 150px;
    border: 5px solid white;
    line-height: 150px;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    text-align: center;
    background: #000;
    font-family: 'Anton',sans-serif ;
    margin: .5em;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*border-radius: 100%;*/
    /*text-align: center;*/
    /*display: flex;*/
}
.location{
    justify-content: center;
}

h1,h2 {
    font-family: 'Anton',sans-serif ;
}

h2{
    font-size: 40px;
    text-align: center;
}

.btn-red,.badge-red{background-color: #E6563B;
}

.btn-yellow,.badge-yellow{
    background-color:#DEA03D;
}

.btn-blue,.badge-blue{
    background-color:#00ABA9
}

.btn-green,.badge-green{
    background-color:#7CB06C;
}

.bottom-container{
    font-family: 'Abel', sans-serif;

}

.card-body {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: .25rem;
    /*border: #f0f0f0;*/
    border-style: none;
    background-color: #f0f0f0;
}

.card {
    border-style: none;
}

h5{
    text-align: center;
}

.card-img-top {
    border: solid grey 6px;
    border-radius: 5px;
}

.badge-pill {
    border-radius: 50%;
}